---
# Playbook for Web Server

- name: Install httpd and php
  yum: name={{ item }} state=present
  with_items:
   - httpd
   - php
   - php-mysql

- name: yum install epel
  yum: name=epel-release.noarch state=latest

- name: download remi repo rpm
  get_url: url=http://rpms.famillecollet.com/enterprise/remi-release-7.rpm dest=/root/  

- name: install remi repo rpm
  yum: name=/root/remi-release-7.rpm state=present

- name: install php
  yum: enablerepo=remi,remi-php56 name=php-mssql,php-pear,php,php-pdo,php-pecl-redis,php-xml,php-pecl-zip,php-pecl-jsonc,php-pecl-igbinary,httpd,httpd-tools,php-mbstring state=latest

- name: Install web role specific dependencies
  yum: name={{ item }} state=installed
  with_items:
   - git

- name: Start & Enable Apache Server to start on boot
  service: name=httpd state=started enabled=yes

#- name: Enable the firewall port for Apache
 # firewalld: port=80/tcp permanent=true state=enabled immediate=yes
 
 - name: download mediawiki from sources 
   get_url: url=https://releases.wikimedia.org/mediawiki/1.35/mediawiki-1.35.0.tar.gz dest=/var/www/html/mediawiki-1.35.0.tar.gz

 - name: Extract mediawiki-1.35.0.tar.gz into /var/www/html
   unarchive:
     src: /var/www/html/mediawiki-1.35.0.tar.gz
     dest: /var/www/html 
 
- include: copy_code.yml
